/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background-image: var(--bg-gradient);
  background-color: var(--bg-color);
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--regular-font-weight);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-bottom: 100px;
  width: clamp(375px, 100%, 700px);
}

.header {
  font-family: var(--main-font-family);
  background-color: var(--bg-color);
  line-height: normal;
  text-transform: uppercase;
  border: 2px solid var(--text-color);
  width: clamp(375px, 100%, 700px);
  margin-top: 100px;
  align-items: center;
  align-content: center;
  padding: 121px 15px;
  margin-inline: auto;
  max-inline-size: 700px;
}

.header__logo {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-bottom: 5px;
  text-align: center;
}

.header__title {
  font-family: var(--accent-font-family);
  font-size: var(--header-title-size);
  margin-block-end: 20px;
}

.header__subtitle {
  font-family: var(--accent-font-family);
  font-size: var(--header-subtitle-size);
  line-height: 60%;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 48px;
  width: 100%;
  box-sizing: border-box;
}

.article {
  display: grid;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
}

.main__card-title {
  padding: 5px 10px 3px;
  font-size: var(--font-size);
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--bold-font-weight);
  line-height: var(--line-height);
}

.main__card-content {
  display: grid;
  padding: 24px 28px 0 23px;
  gap: 25px;
  font-size: var(--font-size);
  font-family: var(--main-font-family);
  line-height: var(--line-height);
}

.main__card-img {
  position: relative;
  border-block-start: 2px solid var(--text-color);
  border-block-end: 2px solid var(--text-color);
}

.card__img-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  opacity: var(--label-opacity);
  mix-blend-mode: var(--label-blend-mode);
  text-transform: uppercase;
  z-index: 1;
  text-shadow: 0 0 1px var(--bg-color, #ffffff);
  inset-inline-end: 24px;
  inset-block-start: 27px;
  font-size: 14px;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.filter-saturate .img {
  filter: saturate(0.2);
}

.filter-saturate-high .img {
  filter: saturate(3.5);
}

.filter-hue-rotate .img {
  filter: hue-rotate(30deg);
}

.filter-invert .img {
  filter: invert(0.8);
}

.filter-sepia .img {
  filter: sepia(0.9);
}

.filter-blur .img {
  filter: blur(10px);
}

.filter-multiple .img {
  filter: hue-rotate(90deg) blur(2px) opacity(0.7) brightness(0.6);
}

.main__card-button {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  padding: 25px 25px 25px;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000000);
  outline: none;
}

.card__icon-button:focus:not(:focus-visible) {
  border-color: transparent;
}

.card__like-button {
  width: 130px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text-color);
}

.button {
  position: relative;
  background-color: var(--button-bg);
  color: var(--text-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 90%;
  cursor: pointer;
  transition: 
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease,
    border-color 0.3s ease;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover-bg);
  transform: scale(0);
  transform-origin: left top;
  transition: transform 0.5s ease-in-out;
  color: #000;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000000);
}

.button:hover::before {
  transform: scale(1);
}

.button:hover .button__text {
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  transition: color 0.3s ease;
  color: var(--text-color-button);
  font-size: 14px;
  line-height: 90%;
  font-family: var(--accent-font-family);
}

.card__like-button.is-liked .button__text {
  color: var(--accent-color);
}

.like-icon {
  display: block;
  transform-origin: center;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--hover-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--hover-color);
  transition-delay: 0.05s;
}

.like-icon:active .core,
.like-icon.is-liked .core {
  fill: var(--active-color);
  transition-delay: 0s;
}

.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  fill: var(--active-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s 1;
}

.footer {
  max-width: 100%;
  justify-items: center;
}

.footer__button {
  height: 84px;
  width: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  padding: 17px 0px;
  gap: 6px;
}

.save-icon {
  height: 28px;
  width: 28px;
  color: #fff;
}

.footer__button .save-icon {
  fill: currentColor;
  mix-blend-mode: difference;
  z-index: 2;
  position: relative;
  transition: fill 0.3s ease;
}

.save-dialog {
  padding: 0;
  border: 2px solid var(--text-color);
  background: var(--bg-color);
  max-width: 90vw;
  margin: auto;
  max-inline-size: 355px;
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
}

#save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save-dialog:focus-visible {
  outline: none;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 30px 35px;
  gap: 0;
  margin: 0;
}

.modal__text-icon {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 13px;
}

.modal-icon {
  transform: scale(1.4);
}

.modal__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
  margin-left: 30px;
}

.submit {
  border: 2px solid var(--text-color);
  background-color: var(--button-bg);
  color: var(--text-color);
  height: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.knob {
  position: relative;
}

@supports (
  (-webkit-text-stroke: 1px var(--bg-color, #ffffff)) or
    (text-stroke: 1px var(--bg-color, #ffffff))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

@media (700px <= width <= 2560px) {
  .page {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main {
    width: 700px;
    gap: 47px;
  }
  .header {
    padding: 127px 0 125px 0;
  }

  .header__logo {
    gap: 8px
  }

  .main__card-button {
    padding: 23px 25px 25px;
  }

  .main__card-content {
    padding: 22px 28px 0 23px;
    gap: 28px;
  }

  .footer__button {
    flex-direction: row;
    width: 335px;
    inline-size: 339px;
    block-size: 55px;
    padding-left: 16px;
  }

  .save-icon {
    transform: scale(0.75);
  }

  .modal__content {
    max-inline-size: 340px;
  }
}
